* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.red-border {
  border: 3px solid red;
}

.green-border {
  border: 3px solid green;
}

.App-link {
  color: #61dafb;
}
